.pageTable {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Cleft {
    flex: 1;
}

.Cmiddle {
    display: flex;
    align-items: row;
    justify-content: space-around;
    flex: 1;
}

.Cright {
    flex: 1;
}