body {
  background-color: #38191F;
}

.navbar {
  margin-bottom: 1rem;
  background-color: 'black'
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(111,49,21,1) 38%, rgba(134,59,18,1) 67%, rgba(144,63,17,1) 99%, rgba(162,71,14,1) 100%, rgba(191,84,10,1) 100%, rgba(255,113,0,0.9766281512605042) 100%, rgba(0,212,255,1) 100%);
}

.outpostHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  background-position: center center;
  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/550895166389677215/4E48C2FEA428506DE03D5C76BB0F4F57891EFD4F/");
  color: #fff;
  text-shadow: 0 0 8px #66757f;
}

.tradeBox {
  max-width: 800px;
  max-height: 200px;
  background-color: gray;
  margin: 0 auto;
  display: flex;

}

.left {
  flex: 1;
  border-right: 1px solid black;
}
.right {
  flex: 1;
}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
}

.itemContainer {
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #A9A9A9;
  height: 75px;
  width: 75px;
}

.itemImg {
  border-radius: 5px;
  box-sizing: border-box;
  height: 75px;
  background-color: #A9A9A9;
  margin: 5px;
  width: 75px;
}

.itemImg:hover {
  background-color: #9e9b9b;
}

.tradeContainer {
  margin-top: 20px;
}

.tradeHeader {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: gray;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 800px;
  max-height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.tradeFooter {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: 1px solid black;
  padding: 10px;
}

.selectItems {
  flex-wrap: wrap;
  min-height: 300px;
  max-height: 400px;
  overflow: scroll;

}

.forceTradeBox {
  min-width: 670px;
  min-height: 160px;
}


#load {
  position:absolute;
  width:600px;
  height:150px;
  left:50%;
  top:40%;
  margin-left:-300px;
  overflow:visible;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
}

#load div {
  position:absolute;
  width:20px;
  height:36px;
  opacity:0;
  font-family:Helvetica, Arial, sans-serif;
  animation:move 2s linear infinite;
  -o-animation:move 2s linear infinite;
  -moz-animation:move 2s linear infinite;
  -webkit-animation:move 2s linear infinite;
  transform:rotate(180deg);
  -o-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  color:#803913;
}

#load div:nth-child(2) {
  animation-delay:0.2s;
  -o-animation-delay:0.2s;
  -moz-animation-delay:0.2s;
  -webkit-animation-delay:0.2s;
}
#load div:nth-child(3) {
  animation-delay:0.4s;
  -o-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
#load div:nth-child(4) {
  animation-delay:0.6s;
  -o-animation-delay:0.6s;
  -moz-animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
#load div:nth-child(5) {
  animation-delay:0.8s;
  -o-animation-delay:0.8s;
  -moz-animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
#load div:nth-child(6) {
  animation-delay:1s;
  -o-animation-delay:1s;
  -moz-animation-delay:1s;
  -webkit-animation-delay:1s;
}
#load div:nth-child(7) {
  animation-delay:1.2s;
  -o-animation-delay:1.2s;
  -moz-animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
	35% {
		left: 41%;
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-moz-transform:rotate(0deg);
		-webkit-transform:rotate(0deg);
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-moz-transform:rotate(-180deg);
		-webkit-transform:rotate(-180deg);
		-o-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-moz-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-moz-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-moz-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-webkit-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-webkit-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

@-o-keyframes move {
	0% {
		left:0;
		opacity:0;
	}
	35% {
		left:41%;
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	65% {
		left:59%;
		-o-transform:rotate(0deg);
		transform:rotate(0deg);
		opacity:1;
	}
	100% {
		left:100%;
		-o-transform:rotate(-180deg);
		transform:rotate(-180deg);
		opacity:0;
	}
}

.unusualHat {
  border: 3px solid purple;
  opacity: .9;
}

.strangeItem {
  border: 3px solid orange;
  opacity: .9;
}

.vintageItem {
  border: 3px solid blue;
  opacity: .9;
}

.uniqueItem {
  border: 3px solid yellow;
  opacity: .9;
}

.selected {
  background-color: #778899;
  border: 3px solid #778899;
  opacity: .9;
}

.inputTradeText {
  background-color: #A9A9A9;
}

.tradeAccept {
  display: inline-block;
  background-color: gray;
  padding: 10px;
  text-align: center;
  margin: 0 auto;

}

.tradeAcceptBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5px 0 5px;
}

.tradeButton {
  display: inline-block;
  border-radius: 5px;
}

.tradeSelector {
  display: inline-block;
  padding: 5px 15px 0 15px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  min-width: 740px;
}

.inputBoxTrade {
  width: 150px;
}

.flx1 {
  flex: 1;
}

.restrictBtn {
  margin: 10px;
}



.itemHover {
    visibility: visible;
    min-width: 130px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.itemHover:hover {
    visibility: visible;
}





*, *:before, *:after {
  box-sizing: border-box;
}

.content {
  position: relative;
  animation: animatop 0.9s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
}

.card {
  width: 700px;
  min-height: 100px;
  padding: 20px;
  border-radius: 3px;
  background-color: #803913;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.card:after {
  content: '';
  display: block;
  width: 190px;
  height: 300px;
  background: #1F0C22;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}


.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: relative;
}
.firstinfo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
  font-size: 1.8em;
}
.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #fff;
  font-style: italic;
}
.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #fff;
  line-height: 1.2;
  font-style: initial;
}

@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}

.centerNow {
  display: flex;
  justify-content: center;
}

.fixLogout{
  font-weight: bold;
  color: #fff;
}
